
$black: #000000; 
$black-1: #010101;
$black-2: #0E0E0E;    


$grey: #282828;    
$grey-1: #5B595A;    
$grey-2: #B1ADAC;

$dark-red: #270202;
$medium-red: #720000;
$red: #FF0000;       

$white: #FFFFFF;
$off-white: #ccc;


$facebook: #4267B2;
$twitter: #1DA1F2;
$youtube: #DA2925;
