
    .contactHeaderH2Intro {
        opacity: 1;
    }
  
    .contactHeaderH2SpanIntro {
        opacity: 1;
        margin-left: 0px;
    }

    .formElementsIntro {
        opacity: 1;
    }